*,
body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --size: 2.3rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

table p {
  margin: 0.5rem;
}
td,
tr {
  padding: 0;
}

table {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  justify-content: center;
  align-items: center;
}

.grid {
  padding: 0;
  margin: 0;
  outline: solid 1px black;
  width: var(--size);
  height: var(--size);
  position: relative;
  background-color: rgb(255, 250, 250);
}

.cell {
  position: relative;
}

.label-row::before,
.label-col::before {
  position: absolute;
  content: attr(data-label);
  font-size: 14px;
  opacity: 0.6;
}

.cell[data-label="1"]::after {
  content: "A";
  position: absolute;
  left: -1rem;
  bottom: 0.5rem;
  font-size: 14px;
  opacity: 0.6;
}

.label-col::before {
  top: -1.3rem;
  left: 0.6rem;
}

.label-row::before {
  left: -1rem;
  top: 0.5rem;
}

#arena {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.leftSide,
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkGrp {
  display: flex;
  gap: 1.5rem;
  font-size: 15px;
}
/* .rightSide {
  display: none;
} */

.blur {
  opacity: 0.3;
}

.notBlur {
  opacity: 1;
}

.ship {
  border: 2px solid blue;
  position: relative;
  cursor: grabbing;
  background-color: rgba(0, 0, 255, 0.05);
  z-index: 2;
}

.ship[data-size="1"] {
  width: var(--size);
  height: var(--size);
}

.ship[data-size="2"] {
  width: calc(var(--size) * 2);
  height: var(--size);
}

.ship[data-size="2"][data-orientation="v"] {
  width: var(--size);
  height: calc(var(--size) * 2);
}

.ship[data-size="3"] {
  width: calc(var(--size) * 3);
  height: var(--size);
}

.ship[data-size="3"][data-orientation="v"] {
  height: calc(var(--size) * 3);
  width: var(--size);
}

.ship[data-size="4"] {
  width: calc(var(--size) * 4);
  height: var(--size);
}

.ship[data-size="4"][data-orientation="v"] {
  height: calc(var(--size) * 4);
  width: var(--size);
}

.ship[data-orientation="h"] {
  top: -0.3px;
}

.fleetSetupDiv {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid black;
  min-width: 24rem;
  min-height: 18rem;
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.occupied {
  border: 2px solid rgb(136, 136, 226);
}

/* .hit {
  border: 2px solid red;
} */

.miss {
  background-color: rgb(223, 216, 216);
}

.revealed {
  background-color: rgb(223, 216, 216);
}

.buffer {
  background-color: rgb(218, 226, 136);
}

.showRed {
  border: 2px solid red;
}

.dragover {
  border: rgb(163, 255, 70) 3px solid;
}

.invi {
  z-index: -50;
}

.dragoverred {
  border: 3px solid rgb(236, 67, 67);
}

.disableShip {
  z-index: -1;
}

.grid {
  position: relative;
}

.showXmark {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.showXmark::before,
.showXmark::after {
  content: "";
  position: absolute;
  top: -95%;
  right: -21px;
  width: 3px; /* Thickness of the lines */
  height: 250%; /* Size of the 'X' */
  background-color: red;
  transform-origin: center;
}

.showXmark::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.showXmark::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.isSunk {
  border: 2px solid red;
}

.missDot {
  position: absolute;
  background-color: black;
  border-radius: 5rem;
  width: 0.4rem;
  height: 0.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loser {
  background-color: red;
  color: white;
}
.winner {
  background-color: green;
  color: white;
}

.blur {
  opacity: 0.5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 2rem;
}

header h1 {
  font-size: 1.5rem;
  cursor: pointer;
}

header h1:hover {
  color: hotpink;
}

img {
  width: 2rem;
  height: 2rem;
}
main,
header {
  padding-left: 2rem;
  padding-right: 2rem;
}

.ship.redShip {
  border: 2px red solid;
}
.ship.greenShip {
  border: 2px rgb(140, 255, 0) solid;
}

.choose {
  background-color: black;
  color: white;
  font-size: 2rem;
}

.chooseBtn {
  display: none;
}
